@charset "utf-8";

.useManage_right {
	width: 100%;
	font-family: "宋体";
	font-size: 12px;
	color: #444444;
}
/* 
 ul{
	color:#444444;
	font-size:14px;
	font-family:微软雅黑;
}
 ul li{
	height:58px;
	line-height:60px;
	cursor:pointer;
}

 ul ul li{
	height:48px;
	font-size:12px;
	margin-left:10px;
	line-height:50px;
	cursor:pointer;
	display:none;
} */

/*查询部分*/
.query_criteria{
	width: 98%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 20px;
    border-bottom: 1px #ccc solid;
    font-size: 16px;
    font-weight: bold;
}
.useManage_select {
	width: 94%;
	margin:0 auto;
}

.useManage_select_table {
	width:100%;
	margin-top: 32px;
}

.useManage_select_table td {
	font-size: 12px;
}

.useManage_select_table div {
	width: 100%;
}
.useManage_select_query:hover {
	color: #FFF;
	background-color: #1b6bb8;
}
.useManage_select_table input {
	width: 168px;
	height: 30px;
	line-height:30px;
	padding-left: 5px;
	color: #444444;
	border: 1px solid #dfdfdf;
	border-radius:3px;
}

.useManage_useName {
	margin-right: 82px;
}

.useManage_select_query {
	width: 120px;
	height: 30px;
	font-family: "宋体";
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	line-height: 30px;
	border: 1px solid #1b6bb8;
	color: #1b6bb8;
	border-radius: 3px;
	margin: 35px auto 15px;
	cursor: pointer;
}

.useManage_article_table {
	width: 94%;
	border-top: 1px solid #ededed;
	border-bottom: 1px solid #ededed;
	margin-top: 12px;
	margin:0 auto
}

.useManage_article_table th,.useManage_article_table td {
	height: 40px;
	border-bottom: 1px solid #E1E1E1;
	border-top:1px solid #e1e1e1;
	border-right:1px #e1e1e1 solid;
	border-left:1px #e1e1e1 solid;
	text-align: center;
}

.useManage_article_table th {
	background-color: #F1F1F1;
	/* font-weight: normal; */
}

#allselect {
	width: 16px;
	height: 16px;
	margin: 0 auto;
}

.us_select {
	width: 16px;
	height: 16px;
	margin: 0 auto;
}

.um_th_1 {
	width: 40px;
}

.um_th_2 {
	width: 100px;
}

.um_th_3 {
	width: 102px;
}

.um_th_4 {
	width: 115px;
}

.um_th_5 {
	width: 106px;
}

.um_th_6 {
	width: 120px;
}

.um_th_7 {
	width: 125px;
}

.um_th_8 {
	width: 96px;
}

.authorization {
	width: 70px;
	height: 26px;
	border-radius: 5px;
	background-color: #d8eaf4;
	margin: auto;
	text-align: center;
	line-height: 26px;
	font-weight: bold;
	border: 1px solid #dedede;
	cursor: pointer;
}
.useManage_button{
	width:100%;
	padding-left: 15px;
}
/*-----添加 修改  删除 按钮-----*/
.useManage_article_button {
	width: 128px;
	height: 30px;
	border-radius: 5px;
	background-color: #076dce;
	text-align: center;
	line-height: 30px;
	color: white;
	margin: 20px 20px;
	float: left;
	cursor: pointer;
	display: none;
}

/*-----分页-----*/
#count_content {
	position: relative; 
	left:10px;
	top: 10px;
}

#page_control{
	font-family: "宋体";
	font-size: 14px;
	float:right;
}

#gotop {
	position: fixed;
	top: 500px;
	left: 95%;
	z-index: 99999;
}

.content,.prolist,#ins_type_select {
	min-width: 820px;
}

.pagination li a.active {
	background-color: #1b6bb8;
	color: #fff;
}

.content {
	font-family: "宋体";
	color: #999999;
}

.content h4 {
	font-weight: 800;
}
/*弹窗*/
#fullbg {
	background-color: #acacac;
	left: 0;
	opacity: 0.5;
	position: absolute;
	top: 0;
	z-index: 3;
	filter: alpha(opacity = 50);
	width: 100%;
	display: none;
}
/*删除弹窗*/
.dialog_delete {
	position: absolute;
	z-index: 10;
	width: 386px;
	height: 138px;
	background-color: white;
	top: 50%;
	left: 50%;
	margin-left: -193px;
	margin-top: -69px;
	display: none;
}

.delete_dialog_p {
	width: 100%;
	text-align: center;
	margin-top: 20px;
}

.delete_dialog_di {
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #076dce;
	color: white;
	border-radius: 5px;
	margin-top: 34px;
	margin-left:16%;
	cursor: pointer;
	float: left;
}
.delete_dialog_div {
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background-color: #076dce;
	color: white;
	border-radius: 5px;
	margin-top: 34px;
	margin-left:21%;
	cursor: pointer;
	float: left;
}

/* #ok {
	margin-left: 80px;
}

#no {
	margin-left: 50px;
} */
/*添加 修改弹窗*/
.dialog {
	    position: fixed;
    width: 400px;
    /* height: 79%; */
    top: 35%;
    left: 50%;
    background-color: #FFFFFF;
    z-index: 200;
    display: none;
    border: 1px solid;
    /* overflow: scroll; */
    overflow-x: hidden;
    padding-bottom: 1px;
}

.dialog_header {
	width: 100%;
	height: 50px;
}

.square {
	width: 10px;
	height: 10px;
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}

.close {
	width: 25px;
	height: 25px;
	float: right;
	margin-top: 14px;
	background-color: #F1F1F1;
	z-index: 1000;
}

.close_img1 {
	width: 11px;
	height: 11px;
	z-index: 2;
}

.close_img {
	width: 100%;
}

.dialog_span {
	font-family: "微软雅黑";
	font-size: 14px;
	font-weight: bold;
	margin-top: 17px;
	margin-left: 20px;
	float: left;
}

.line {
	width: 356px;
	margin: 0 auto;
	border-top: 1px solid #D8D8D8;
}

.dialog_body {
	width: 100%;
	height: 310px;
}

.dialog_table {
	margin-top: 5px;
	margin-left: 30px;
}

.dialog_table td {
	height: 35px;
}

.star {
	color: red
}

.dialog_table_div {
	width: 242px;
	height: 30px;
	border: 1px solid #d8d8d8;
}

.dialog_table_input {
	padding-left: 5px;
    width: 20px;
    height: 23px;
    line-height: 23px;
    color: #444444;
    width: 235px;
    border: none;
}

.dialog_table_select {
	width: 240px;
	height: 28px;
	line-height: 23px;
	padding:5px 5px;
	color: #444444;
	border: none;
}

.dialog_textarea {
	border: 1px solid #d8d8d8;
	width: 242px;
	height: 150px;
	padding-left:5px;
	color: #444444;
}

.discribe1 {
	text-align: right;
	vertical-align: top;
}

.dialog_footer {
	background-color: #ebebeb;
	width: 100%;
	height: 60px;
}

/* .ok {
	margin-left: 80px;
}

.no {
	margin-left: 50px;
} */

.ok,.no {
	margin-top: 15px;
	cursor: pointer;
}

/*授权弹窗*/
.dialog_authorization {
	width: 600px;
	height: 396px;
	position: absolute;
	z-index: 30;
	top: 120px;
	left: 210px;
	background-color: white;
	font-family: "宋体";
	font-size: 14px;
	border: 1px solid #d8d8d8;
	display: none;
}

.authorization_header {
	border-bottom: 1px solid #d8d8d8;
}

.authorization_body {
	width: 100%;
	height: 285px;
	overflow-y: auto;
}

.authorization_close {
	margin-right: 14px;
}

.authorization_table {
	margin-top: 5px;
	margin-left: 20px;
	margin-bottom: 19px;
}

.authorization_table td {
	height: 20px;
	font-size: 12px;
}

.authorization_table td input[type='checkbox'] {
	width: 12px;
	height: 12px;
}

.authorization_table td:first-child {
	padding-right: 10px;
}

#add_submit,#alter_submit {
	display: none;
}